body{
  /* border: 1px solid red; */
  margin: 0;
  background-image: url("https://img.freepik.com/premium-photo/roasted-coffee-beans-with-green-leaves-dark-background-top-view_795422-5261.jpg");
font-family: sans-serif;
  color: white
}
footer{ 
  /* border: 1px solid purple; */
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 0 10px;
  background-image: url("https://img.freepik.com/premium-photo/roasted-coffee-beans-with-green-leaves-dark-background-top-view_795422-5261.jpg");
  margin-top: 50px;
margin-bottom: 50px;
font-weight: bold;

}
.footer-heading{
  /* border: 1px solid green; */

}
.footer-address{
  /* border: 1px solid blue; */
  

}
header h1 {
font-size: 50px;
margin-bottom: 0;
}
header{
  text-align: center;
background-color: green;
background-image: url("https://img.freepik.com/premium-photo/roasted-coffee-beans-with-green-leaves-dark-background-top-view_795422-5261.jpg");
margin-bottom: 10px;
}
main{
  background-color: burlywood;
  background-image: url("https://png.pngtree.com/background/20230410/original/pngtree-coffee-beans-leaves-wood-plank-background-picture-image_2385568.jpg");
width: 80%;
margin: 0 auto;
}

.coffee-heading,.dessert-heading{
  text-align: center;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.coffee-items,.dessert-items{
  /* border: 1px solid red; */
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
 gap: 10px;
 
}
.coffee-items article,.dessert-items article{
  /* border: 1px solid green; */


}
img{
width: 200px;
}
article p{
  width: 200px;
}
.dessert, .price, .flavor{
  text-align: center;
} 
.price{
  color: rgb(5, 228, 5);
  font-weight: bold;
  font-size: x-large;

}
.dessert, .flavor{
color:gold;
font-size: x-large;
}
.dessert-section{
  margin-top: 40px;
}