body{
  /* border: 1px solid red; */
  margin: 0;
  color: white;
  background-color: rgb(231, 196, 150);
  font-family: sans-serif;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS99MhageBw58N9wW8HKla8MNK9WsJ9oe6gNA&s");
}
.menu{
  /* border: 1px solid red; */
  background-color: rgb(52, 30, 1);
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
background-image: url("https://img.freepik.com/premium-photo/roasted-coffee-beans-with-green-leaves-dark-background-top-view_795422-5261.jpg");
}
footer{
  /* border: 1px solid red; */
  background-color: rgb(3, 33, 3);
  padding: 20px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS99MhageBw58N9wW8HKla8MNK9WsJ9oe6gNA&s");
}
.heading{
  /* border: 1px solid red; */
  text-align: center;
  background-color: rgb(3, 33, 3); 
  padding:10px 0;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS99MhageBw58N9wW8HKla8MNK9WsJ9oe6gNA&s");
}
.coffee-section{
  /* border: 1px solid red; */

}
.coffee-heading,.dessert-heading{
  /* border: 1px solid red; */
  text-align: center;
  background:rgb(43, 99, 43);
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
  align-items: center;

}
.coffee-items,.dessert-items{
  border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  

}
.item{
  border: 1px solid white;
  width: 230px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
  


}
img{
  width: 180px;
  border: radius 5px;
  

}
.price{
  color: green;
}
.coffee-heading h2, .dessert h2{
  font-size: 35px;
}